DATABASE_URL=
SESSION_SECRET=
PORT=
BASE_PATH=
NODE_ENV=
LOG_LEVEL=
SHELTER_MASTER_SHEET_ID=
INVENTORY_SYNC_INTERVAL_MINUTES=
BUS_ROUTES_MASTER_SHEET_ID=
BUS_ROUTES_SYNC_INTERVAL_MINUTES=
PRIVATE_OBJECT_DIR=
DEFAULT_OBJECT_STORAGE_BUCKET_ID=
PUBLIC_OBJECT_SEARCH_PATHS=
AI_INTEGRATIONS_OPENAI_BASE_URL=
AI_INTEGRATIONS_OPENAI_API_KEY=